<h1 align = "center"> Welcome to <%= @users.username %>'s page </h1>
<div class = "row">
	<div align = "center">
		<%= gravatar_for @users, size: 150 %>
	</div>
</div>

<h4 align = "center"> <%= @users.username %>'s articles </h4>


<div align = "center">
	<%= will_paginate @users_articles %>
</div>

<%= render 'articles/article', obj: @users_articles %>

<div align = "center">
	<%= will_paginate @users_articles %>
</div>1